body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #293651;
  padding: 50px 500px 100px 500px;
}

main>.Bold {
  color: #293651;
  font-size: 40px;
  font-weight: bolder;
  padding: 10px 0px 10px 0px;
}

.titulo {
  font-family: montserrat;
  color: #00a78e;
  font-weight: lighter;
  letter-spacing: 4px;
}

.subtitulo {
  font-family: montserrat;
  color: #293651;
  font-weight: lighter;
  letter-spacing: 4px;
}

.texto {
  color: #929396;
  padding-top: 20px;
  font-size: 20px;
  letter-spacing: 0px;
}

a {
  font-family: montserrat;
  background-color: #00a78e;
  border: none;
  color: white;
  padding: 13px 38px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;

  margin-top: 15px;
  font-weight: lighter;
}

a>.botao {
  margin-top: 10px;
}

.imagem {
  padding-top: 20px;

}

/*---------------------SOBRE---------------------- */


.titulo_sobre {
  font-family: montserrat;
  color: #293651;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0px;
}

.text_sobre {
  color: #929396;
  padding-top: 20px;
  font-size: 20px;
  letter-spacing: 0px;
}

hr {
  border: 0;
  border-top: 3px solid #00a78e;
  margin-right: 730px;
}




/*-----------------------skills---------------------------*/
.center_align {
  display: grid;
  justify-content: center;
}


.Bold {
  color: #293651;
  font-size: 40px;
  font-weight: bolder;
  padding: 10px 0px 10px 0px;
  align-self: center;
}

.linha-horizontal {
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 3px solid #00a78e;
  background-color: #00a78e;
  border-radius: 5px;
}

.container {
  width: 100%;
  /* Full width */
  background-color: #ddd;
  /* Grey background */
  border-radius: 5px;
  margin-top: 10px;
}

.skills {
  text-align: right;
  /* Right-align text */
  padding-top: 10px;
  /* Add top padding */
  padding-bottom: 10px;
  /* Add bottom padding */
  color: white;
  /* White text color */
  border-radius: 5px;
  margin-top: 10px;
}

.ux {
  width: 85%;
  background-color: #00a78e;
}

.webdesign {
  width: 75%;
  background-color: #00a78e;
}

.html {
  width: 90%;
  background-color: #00a78e;
}

.sketch {
  width: 65%;
  background-color: #00a78e;
}

/*-----------------------projects---------------------------*/

.projetos {
  display: grid;
  grid-template-columns: 450px 450px;
  justify-content: center;
  gap: 40px;
  margin-bottom: 50px;
}

.projetos_box {
  background-color: #ddd;
  width: 310px;
  height: 310px;
  float: left;
  border-radius: 5px;
  padding: 30px;
  filter: drop-shadow(10px 10px 6px #b9b8b8);

}

.uil-palette,
.uil-object-group,
.uil-house-user,
.uil-brackets-curly {
  font-size: 70px;
  color: #00a78e;
}


/*-----------------------contatos---------------------------*/

.contato_box {
  background-color: #00a78e;
  height: 250px;
  width: 100%;
  border-radius: 10px;
  padding-top: 50px;
  margin-bottom: 100px;
}

.color_contato {
  margin-left: 50px;
  color: aliceblue;
}

.linha-horizontal_contato {
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 3px solid aliceblue;
  background-color: aliceblue;
  border-radius: 5px;
  margin-left: 50px;
}

/*-----------------------footer---------------------------*/
footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  background-color: #ddd;
  height: 100px;
  width: 100%;
  padding-top: 50px;


}

footer>.Bold {
  color: #293651;
  font-size: 40px;
  font-weight: bolder;
  padding: 10px 0px 10px 0px;
  text-align: center;
}

.icons {
  padding-left: 35%;
}

.uil-facebook-f,
.uil-twitter-alt,
.uil-instagram,
.uil-linkedin-alt {
  font-size: 40px;
  color: #00a78e;
  margin-left: 80px;
}

/*----------------------------------------media queries------------------------------------------*/

/*notebbok*/
@media only screen   
and (min-width: 800px)   
and (max-width: 1500px){
      body{
        padding-left: 10%;
        padding-right: 10%;
      }
      .icons {
        padding-left: 29%;
      }
  }



/*celular*/

@media only screen and (max-width: 600px) {

  /*------------------------main-------------------------------------*/
  body {
    padding-left: 10px;
    padding-right: 10px;
  }

  main>.Bold {
    color: #293651;
    font-size: 30px;
    font-weight: bolder;
    padding: 0px 0px 10px 0px;
  }

  .titulo {
    font-size: 15;
    font-family: montserrat;
    color: #00a78e;
    font-weight: lighter;
    letter-spacing: 3px;
  }

  .subtitulo {
    font-size: 15;
    font-family: montserrat;
    color: #293651;
    font-weight: lighter;
    letter-spacing: 3px;
  }

  .texto {
    color: #929396;
    padding-top: 10px;
    font-size: 15px;
    letter-spacing: 0px;
  }

  /*-----------------------skills---------------------------*/
  .Bold {
    font-size: 40px;
    padding: 10px 0px 10px 0px;
    align-self: center;
  }




  /*------------------------projetos-------------------------------------*/

  .projetos {

    display: grid;
    justify-content: left;
    grid-column: 1;
    margin-left: 10%;
    grid-template-columns: 0px;
    gap: 20px;
    margin-bottom: 20px;

  }

  .projetos_box {
    margin-left: 0px;
    width: 220px;
    height: 220px;
    float: left;
    padding: 30px;
    

  }

  .uil-palette,
  .uil-object-group,
  .uil-house-user,
  .uil-brackets-curly {
    font-size: 60px;

  }
 



  /*-----------------------contatos---------------------------*/

  .contato_box {
    height: 250px;
    padding-top: 50px;
    margin-bottom: 100px;
  }

  .color_contato {
    margin-left: 50px;
  }

  .contato_box> .texto{
    color: #ddd;
  }


  /*------------------------footer-------------------------------------*/
  footer {
    
    height: 100px;
    padding-top: 30px;
    padding-bottom: 5px;
  }

  .uil-facebook-f,
  .uil-twitter-alt,
  .uil-instagram,
  .uil-linkedin-alt {
    font-size: 25px;
    margin-left: 20px;
  }

  .icons {
    padding-left: 60px;
  }

  footer>.Bold {
       font-size: 25px;
       padding: 0px 0px 0px 0px; 
  }

}