body {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #293651;
   padding: 50px 150px 0px 150px;
  }
  .Bold{
    color:#293651;
    font-size: 40px;
    font-weight: bolder;
    padding:10px 0px 10px 0px;
  }
  
  .titulo {
    font-family: montserrat;
    color: #00A78E;
    font-weight: lighter;
    letter-spacing: 4px;
    
  }
  
  .subtitulo {
    font-family: montserrat;
    color: #293651;
    font-weight: lighter;
    letter-spacing: 4px;
  }
  
  .texto{
    color: #929396;
    padding-top: 20px;
    font-size: 20px;
    letter-spacing: 0px;
  }
  
  a {
    font-family: montserrat;
    background-color: #00A78E;
    border: none;
    color: white;
    padding: 13px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
   
    margin-top: 15px;
    font-weight: lighter;
  }
  
    a > .botao {
    margin-top: 10px;
  }
  
  .imagem {
    padding-top: 20px;
    padding-left:370px;
  }

  /*---------------------SOBRE---------------------- */
  .titulo_sobre{
    font-family: montserrat;
    color:#293651;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0px;
  }

  .text_sobre{
    color: #929396;
    padding-top: 20px;
    font-size: 20px;
    letter-spacing: 0px;
  }

  hr {
	border: 0;
	border-top: 3px solid #00A78E;  
    margin-right: 730px;
}

/*-----------------------skills---------------------------*/
#linha-horizontal {
  width: 150px;
  margin-top: 10px;
  border: 3px solid #00A78E;
  background-color: #00A78E;
  border-radius: 5px;
}

.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
  border-radius: 5px;
  margin-top: 10px;
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
  border-radius: 5px;
  margin-top: 10px;
}

.ux {width: 85%; background-color: #00A78E;} 
.webdesign {width: 75%; background-color: #00A78E;} 
.html {width: 90%; background-color: #00A78E;} 
.sketch {width: 65%; background-color: #00A78E;} 
  /*-----------------------projects---------------------------*/
.projetos{
  margin-bottom:400px;
}

.projetos_box{
  background-color: #ddd;
  width: 250px;
  height: 250px;
  margin: 10px;
  float: left;
  border-radius: 5px;
}

/*-----------------------contatos---------------------------*/

.contato_box{
  background-color: #00A78E;;
  height: 250px;
  width: 100%;
  border-radius: 10px;

}

/*-----------------------footer---------------------------*/
footer{
  margin-top: 50px;
  background-color: #ddd;
  height:100px;
  
}